.custom {
    &-menu {
      &.el-menu {
        background-color: $default;

        .el-menu-item {

            &.is-active {
            color: $gray !important;
            font-weight: 500;
            border-bottom: 2px solid $gray;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    &-footer {
      padding: 0 !important;
    }
  }
