@import "./color";

@font-face {
    font-family: Ubuntu;
    src: url('./fonts/Ubuntu/Ubuntu-Regular.ttf');
}

.app {
    font-family: Ubuntu, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: $default;
    font-size: 18px;
}

.text-xs {
    font-size: 10px;
}

.text-sm {
    font-size: 14px;
}

.text-lg {
    font-size: 24px;
}

.text-xl {
    font-size: 36px;
}

.text-2xl {
    font-size: 48px;
}

.text-3xl {
    font-size: 64px;
}

.text-link {
    text-decoration: none;
    color: $gray;
}

.text-bold {
    color: $gray-bold;
}

.text-gold {
    color: #e7ad17;
}

@import "./custom.scss"
